<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Create Post</h1>
        <form action="" method="POST">
            <div class="form-control">
                <input name="title" type="text" required>
                <label>Title</label>
            </div>
            <div class="form-control">
                <label>Content</label>
                <textarea name="content" id="textarea" cols="30" rows="20"></textarea>
            </div>
            <div class="form-control">
                <input name="date" type="datetime" required>
                <label>Date</label>
            </div>
            <button class="btn">Save</button>
            <p class="text"><a href="#">Return to home page</a></p>
        </form>
    </div>
</body>
</html>