<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>My Flask Blog - Update a post</title>
</head>
<body>
        
    <h1 class="title">My Flask Blog</h1>
    <nav class="active" id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Create Post</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <button class="icon" id="toggle">
            <div class="line line1"></div>
            <div class="line line2"></div>
        </button>
    </nav>
        <form action="" method="POST">
            <h1>Update Post</h1>
            <div class="form-control">
                <input name="title" type="text" value="{{post.title}}" required>
                <label>Title</label>
            </div>
            <div class="form-control">
                <input name="author" type="text" value="{{post.author}}" required>
                <label>Author</label>
            </div>
            <div class="form-control">
                <label>Content</label>
                <textarea name="content" id="textarea" cols="30" rows="20" placeholder="{{post.content}}" value="{{post.content}}"></textarea>
            </div>
            <div class="form-control">
                <input type="date" id="start" name="date"
                                value="{{post.date}}">
                <label>Date</label>
            </div>

            <button class="btn">Save</button>
            <p class="text"><a href="/">Return to home page</a></p>
        </form>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>